body{
    padding: 20px;
}
ul{
    display: flex;
    list-style: none;
}
ul li {
    padding: 20px;
}
ul li a{
    color: white;
}
ul li:hover{
    background: white;
}
ul li:hover a{
    color: green;
}

nav{
    background: green;
}
